<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= stylesheet_link_tag "sessions" %>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Vibur" />
</head>
<body>
	<div id='login-form'>
	<h1>Login</h1>

	<%= form_tag '/sessions' do %>
	  <p class='login-form-title'>Email</p>
	  <p><%= text_field_tag :email, "", class: 'login-form-input' %></p> 

	  <p class='login-form-title'>Password</p>
	  <p><%= password_field_tag :password, "", class: 'login-form-input' %></p>

	  <p><%= submit_tag 'Submit', class: 'login-form-submit' %></p>
	<% end %>
	<%= yield %> 
</div>
</body>
</html>
